/* ====================================================================================================== */
/*                                          IMPORTED FONTS                                                */
/* ====================================================================================================== */



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://use.typekit.net/zln7mzk.css");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");



/* ====================================================================================================== */
/*                                       WEB RELATED STYLING                                              */
/* ====================================================================================================== */



::selection {
  color: white;
  background: #7621ff;
}
body::-webkit-scrollbar {
  width: 13px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background:#ffffff00;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color:#7621ff;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #ffff;   /* creates padding around scroll thumb */
}



/* ====================================================================================================== */
/*                                       MOBILE FIRST APPROACH                                            */
/*                                 ( This applies from 0px to 600px )                                     */
/* ====================================================================================================== */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box1,.box2,.box4 {
  width: 100%;
  height: 100vh;
}
.box1 {
  background: rgb(255, 255, 255);
}
.box2 {
  background: rgb(255, 255, 255);
}
.box3 {
  background: rgb(255, 255, 255);
}
.box4 {
  background:#e1eafd;
}
body {
  /* background-color: rgb(255, 195, 85); */
  background: #ffffff;
}
.photo {
  width: 70%;
  /* margin-top: -20px; */
  /* background-color: #838282; */
  margin-left: 13%;
  margin-top: -8%;
}
.photo img {
  width: 100%;
  height: 100%;
}
.desktop-img{
  display: none;
}
.wave{
  display: none;
}


.logo h1 {
  font-family: pacifico, sans-serif;
  font-size: x-large;
  margin-left: 15px;
  margin-top: -7px;
  color: #838282;
  cursor: pointer;
}
.side-bar {
  position: absolute;
  right: 15px;
  top: 18px;
  width: 30px;
  height: 30px;
}
.back-icon {
  position: absolute;
  filter: blur(10px);
  width: 30px;
  height: 30px;
  right: 3px;
  top: -2px;
  border: 2px 2px solid black;
  border-radius: 5px;
  z-index: 20;
}
.uil-apps {
  position: absolute;
  z-index: 300;
  /* color: #FE530A; */
  color: #9b21ff;
  font-size: x-large;
}

.landing_page .linked_acc{
  display: none;
}

.bottom-box {
  bottom: 0;
  width: 100%;
  height: 50vh;
  /* background-color: rgb(255, 251, 0); */
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px -0.5px 5px #d2d2d2;
  margin-top: -5%;
}
.bottom-box h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 25px;
  margin-left: 15px;
  padding-top: 20px;
  font-weight: 600;
}
.bottom-box h2 .name-style {
  /* color:  #FE530A; */
  color: #6200ff;
  /* background: -webkit-linear-gradient(12deg,#135eff, #ff21e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 1.12em;
  font-weight: 600;
}
.bottom-box h4 {
  margin-top: 10px;
  color: rgb(109, 109, 109);
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
  font-weight: 400;
}
.bottom-box h6 {
  margin-top: 4px;
  color: rgb(65, 64, 64);
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
  font-weight: 400;
}
.cont-button a {
  /* background: #FE530A; */
  /* background: #6200ff; */
  background: linear-gradient(to bottom left, #4221fd, #b721ff);
  padding: 20px;
  width: 150px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #c5c5c5;
}
.cont-button {
  width: 200px;
  height: 30px;
  margin-top: 50px;
  margin-left: 15px;
  text-align: justify;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
}
.uil-message {
  margin-left: 5px;
}

/* ========================================= WHAT I DO ? PAGE  =========================================== */

.box1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 10%;
  color: #7621ff;
  /* text-shadow: 3px 2px 5px #d1d1d1; */
}
.about-me {
  width: 100%;
  height: 13%;
  background-color: #ffffff;
  margin-top: 5%;
}
.about-me p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  color: #838282;
}
.tech1 {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
#img1, #img2, #img3, #img4 {
  text-align: center;
  width: 25%;
}
.tech2 {
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
  display: flex;
  flex-wrap: wrap;
}
#img5, #img6 {
  text-align: center;
  width: 50%;
}
#img1 p, #img2 p, #img3 p, #img4 p, #img5 p, #img6 p {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #838282;
}
.desktop-GIF{
  display: none;
}
.GIF {
  width: 80%;
  height: 33%;
  /* background-color: #4221fd; */
  margin-left: 10%;
  margin-top: 4%;
  overflow: hidden;
}
.GIF .work-gif {
  width: auto;
  margin-left: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 210px;
}

/* ============================================ EDUCATION PAGE  ============================================ */

.box2 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 10%;
  color: #7621ff;
  /* text-shadow: 3px 2px 5px #d1d1d1; */
}
.edu1 {
  width: 70vw;
  height: 35vh;
  background-color: white;
  margin-left: 15%;
  margin-top: 3%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.767);
  padding-top: 2%;
}
.edu1 .ed-logo {
  display: block;
  width: 80%;
  height: 50%;
  /* background-color: #4221fd; */
  margin-left: auto;
  margin-right: auto;
}
.edu1 .ed-logo .logo1 {
  width: auto;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background: chocolate; */
}
.edu1 #p1 {
  text-align: center;
  /* margin-top: 5px; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.edu1 #p2 {
  text-align: center;
  margin-top: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  padding-left: 5%;
  padding-right: 5%;
}
.edu1 #p3 {
  text-align: center;
  margin-top: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}
.edu2 .ed-logo {
  display: block;
  width: 80%;
  height: 50%;
  /* background-color: #4221fd; */
  margin-left: auto;
  margin-right: auto;
}
.edu2 {
  width: 70vw;
  height: 35vh;
  background-color: rgb(255, 255, 255);
  margin-left: 15%;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.767);
  padding-top: 2%;
}
.edu2 .ed-logo .logo2 {
  width: auto;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.edu2 .ed-logo img {
  width: 50%;
  margin-left: 25%;
  margin-top: 6%;
}
.edu2 #p4 {
  text-align: center;
  /* margin-top: 5px; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.edu2 #p5 {
  text-align: center;
  margin-top: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  padding-left: 5%;
  padding-right: 5%;
}
.edu2 #p6 {
  text-align: center;
  margin-top: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}
.edu-GIF{
  display: none;
}

/* ============================================ PROJECTS PAGE  ============================================ */

.box3 {
  margin-bottom: 5%;
}
.box3 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  padding-top: 10%;
  color: #7621ff;
  /* text-shadow: 3px 2px 5px #d1d1d1; */
}
.box3 .project-1 {
  width: 80vw;
  height: 65vh;
  background-color: white;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.767);
  padding-top: 2%;
}
.Project-Logo {
  display: block;
  width: 80%;
  height: 40%;
  /* background-color: #4221fd; */
  margin-left: auto;
  margin-right: auto;
}
.Project-Logo img {
  width: auto;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
.box3 .project-1 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 2%;
  color: #7621ff;
}
.box3 .project-1 p {
  color: #838282;
  text-align: justify;
  margin-top: 2.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 6%;
  margin-right: 6%;
}
.box3 .project-1 .links ul {
  display: inline-flex;
  text-align: center;
  margin-top: 5%;
  margin-left: 4%;
}
.box3 .project-1 ul li {
  list-style: none;
  margin-left: 10px;
}
.box3 .project-1 ul li a i {
  color: #8b8b8b;
  font-size: 2rem;
}
.box3 .project-1 ul li a i:hover {
  color: #8138f7;
}

      
/* ========================================================================================================= */
/* ========================================================================================================= */
/* ========================================================================================================= */
/* ========================================================================================================= */
/* ========================================================================================================= */


      .slider_body {
        /* max-height: 100vh; */
        background-color: #a03bff;
        background-image: linear-gradient(147deg, #ba54fd 0%, #2600ce 74%);
        min-height: 100vh;
        font-family: 'Montserrat', sans-serif;
        display: flex;
     }
     
        
    .blog-slider {
      width: 100%;
      position: relative;
      max-width: 800px;
      margin: auto;
      background: #fff;
      box-shadow: 0px 14px 80px rgba(51, 64, 71, 0.2);
      padding: 25px;
      border-radius: 25px;
      align-items: center;
      height: 400px;
      transition: all 0.3s;
    }
    @media screen and (max-width: 992px) {
      .blog-slider {
        max-width: 680px;
        height: 400px;
      }
    }
    
    @media screen and (max-width: 768px) {
      .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
      }
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
      .blog-slider {
        height: 350px;
      }
    }
    .blog-slider__item {
      display: flex;
      align-items: center;
    }
      
    @media screen and (max-width: 768px) {
      .blog-slider__item {
        flex-direction: column;
      }
    }
    .blog-slider__item.swiper-slide-active .blog-slider__img img {
      opacity: 1;
      transition-delay: 0.3s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > * {
      opacity: 1;
      transform: none;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
      transition-delay: 0.3s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
      transition-delay: 0.4s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
      transition-delay: 0.5s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
      transition-delay: 0.6s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
      transition-delay: 0.7s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
      transition-delay: 0.8s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
      transition-delay: 0.9s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
      transition-delay: 1s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
      transition-delay: 1.1s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
      transition-delay: 1.2s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
      transition-delay: 1.3s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
      transition-delay: 1.4s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
      transition-delay: 1.5s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
      transition-delay: 1.6s;
    }
    .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
      transition-delay: 1.7s;
    }

    .blog-slider__img {
      width: 300px;
      flex-shrink: 0;
      height: 300px;
      background-image: linear-gradient(to bottom left, #4221fd, #b721ff);
      box-shadow: 4px 13px 30px 1px rgba(19, 19, 19, 0.2);
      border-radius: 20px;
      transform: translateX(-80px);
      overflow: hidden;
   }
    .blog-slider__img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      opacity: 1;
   }
    .blog-slider__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 1;
      border-radius: 20px;
      transition: all 0.3s;
   }
    
   @media screen and (max-width: 768px) {
      .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
     }
   }
    
   @media screen and (max-width: 576px) {
      .blog-slider__img {
        width: 95%;
     }
   }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      .blog-slider__img {
        height: 270px;
     }
   }
    .blog-slider__content {
      padding-right: 25px;
   }

    @media screen and (max-width: 768px) {
      .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
     }
   }
    
   @media screen and (max-width: 576px) {
      .blog-slider__content {
        padding: 0;
     }
   }
    .blog-slider__content > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
   }
    .blog-slider__code {
      color: #7b7992;
      margin-bottom: 15px;
      display: block;
      font-weight: 500;
   }
    .blog-slider__title {
      font-size: 24px;
      font-weight: 700;
      color: #0d0925;
      margin-bottom: 20px;
   }
   
    .blog-slider__text {
      color: #4e4a67;
      margin-bottom: 30px;
      line-height: 1.5em;
    }
    .blog-slider__button {
      display: inline-flex;
      background-image: linear-gradient(to bottom left, #4221fd, #b721ff);
      padding: 15px 35px;
      border-radius: 50px;
      color: #fff;
      box-shadow: 5px 5px 20px rgba(43, 43, 43, 0.4);
      text-decoration: none;
      font-weight: 500;
      justify-content: center;
      text-align: center;
      letter-spacing: 1px;
    }
    @media screen and (max-width: 576px) {
      .blog-slider__button {
        width: 100%;
    }
    }
    .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
      bottom: 10px;
      left: 0;
      width: 100%;
    }
    .blog-slider__pagination {
      position: absolute;
      z-index: 21;
      right: 20px;
      width: 11px !important;
      text-align: center;
      left: auto !important;
      top: 50%;
      bottom: auto !important;
      transform: translateY(-50%);
    }
    @media screen and (max-width: 768px) {
      .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;
    }

    @media screen and (max-width: 768px) {
      .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
     }
   }
    .blog-slider__pagination .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;
   }
    .blog-slider__pagination .swiper-pagination-bullet-active {
      opacity: 1;
      background: #7621ff;
      height: 30px;
      box-shadow: 0px 0px 20px rgba(61, 0, 117, 0.3);
   }
    @media screen and (max-width: 768px) {
      .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
     }
   }


/* ========================================================================================================= */
/* ========================================================================================================= */
/* ========================================================================================================= */
/* ========================================================================================================= */
/* ========================================================================================================= */




/* =============================================  CONTACT PAGE  ============================================ */

.box4 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  padding-top: 2%;
  color: #fff;
  text-shadow: 3px 2px 5px #b1b0b0;
}
.box4 .cont-img{
  display: block;
  width: 50%;
  height: 38%;
  margin-left: 6%;
   /* background-color: #4221fd; */
  margin-top: 5vh;
}
.box4 .cont-img img{
  width: auto;
  margin-left: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}
.box4 .cont-details{
  /* background-color: #ffffff; */
  /*border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.767); */
  width: 80%;
  height: 30vh;
  margin-left: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.box4 .cont-details p1{
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #838282;
  text-align: center;
  /* text-shadow: 3px 2px 5px #b1b0b0; */
}
.box4 .cont-details p2{
  display: block;
  font-family: "Poppins", sans-serif;
  color: #838282;
  font-weight: 600; 
  text-align:center;
  /* text-shadow: 3px 2px 5px #b1b0b0; */
  margin-top: 8px;
}
.box4 p3{
  display: block;
  font-family: "Poppins", sans-serif;
  color: #838282;
  font-weight: 400; 
  font-size: 0.6rem;
  text-align:center;
  margin-top: 7vh;
}
.box4 .cont-details .yo{
  text-shadow: none;
}
.box4 .cont-details .icons{
  width: 70%;
  /* background-color: #8138f7;  */
  /* margin-left: 15%; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.box4 .cont-details .icons ul{
  display: inline-flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.box4 .cont-details .icons ul li{
  list-style: none;
  font-size: 2rem;
  margin-left: 5%;
  width: 100%;
  /* background-color: #005ac0; */
  text-align: center;
  transition: transform .5s;
}
.box4 .cont-details .icons ul li i{
  color: #fff;
  text-shadow: 3px 2px 5px #b1b0b0;
}
.box4 .cont-details .icons ul li:hover{
  transform: scale(1.5);
}
.box4 .cont-details .icons ul li .uil-twitter:hover{
  color: #00ccff;
}
.box4 .cont-details .icons ul li .uil-linkedin:hover{
  color: #005ac0;
}
.box4 .cont-details .icons ul li .uil-github:hover{
  color: #3f3f3f;
}
.box4 .cont-details .icons ul li .uil-at:hover{
  color:#ff4f5d;
}



/* ====================================================================================================== */
/*                                          MEDIA QUERIES                                                 */
/*                                     ( FOR RESPONSIVENESS )                                             */
/* ====================================================================================================== */



/* =============================== Small screen devices (600px and above)  ============================== */

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .photo {
    width: 50%;
    margin-top: -20px;
    margin-left: 23%;
  }
  .bottom-box h2 {
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .bottom-box h2 .name-style {
    font-weight: 600;
  }
  .bottom-box h4 {
    font-weight: 400;
    margin-left: 25px;
    font-size: 18px;
  }
  .bottom-box h6 {
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;
  }
  #c-button {
    font-size: 20px;
  }
  .box1 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 7%;
    color: #7621ff;
  }
  .about-me {
    width: 80%;
    height: 10%;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 10%;
  }
  .about-me p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  .tech1 {
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    display: flex;
  }
  .tech2 {
    width: 30%;
    margin-top: 10px;
    margin-left: 35%;
    display: flex;
  }

  #img1, #img2, #img3, #img4 {
    text-align: center;
    width: 25%;
  }
  .work-gif {
    width: 55%;
    margin-left: 22.5%;
    padding-top: 20px;
  }
  .box2 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    padding-top: 7%;
    color: #7621ff;
  }
  .edu1 {
    width: 70vw;
    height: 35vh;
    background-color: white;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.767);
  }
  .edu1 .ed-logo img {
    width: 95px;
    margin-left: 39.5%;
    margin-top: 4%;
  }
  .edu1 #p1 {
    text-align: center;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .edu1 #p2 {
    text-align: center;
    margin-top: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding-left: 25%;
    padding-right: 25%;
  }
  .edu1 #p3 {
    margin-top: 3px;
    font-size: 0.8rem;
  }
  .edu2 {
    width: 70vw;
    height: 35vh;
    margin-left: 15%;
    margin-top: 5%;
  }
  .edu2 .ed-logo img {
    width: 25%;
    margin-left: 37%;
    margin-top: 4%;
  }
  .edu2 #p4 {
    margin-top: 10px;
  }
  .edu2 #p5 {
    font-size: 0.8rem;
  }
  .edu2 #p6 {
    font-size: 0.8rem;
  }
}

/* =============================== Medium screen devices (768px and above)  =============================== */

@media only screen and (min-width: 768px) {
      .bottom-box h2 {
        font-family: "Poppins", sans-serif;
        margin-top: 25px;
        margin-left: 30px;
        font-weight: 600;
        font-size: 2rem;
      }
      .bottom-box h2 .name-style {
        font-weight: 600;
      }
      .bottom-box h4 {
        font-weight: 400;
        margin-left: 30px;
        font-size: 20px;
      }
      .bottom-box h6 {
        font-weight: 400;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 13px;
      }
      #c-button {
        font-size: 20px;
      }
      .cont-button {
        margin-left: 30px;
      }

      /* ============================= Projects Slider =========================== */

      /* .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
        
      }
      .blog-slider__item {
        flex-direction: column;
      }
      .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
      }
      .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
      }
      .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
              margin: 0 5px;
      } */
}
/* =============================== Big screen devices (1025px and above)  =============================== */

@media only screen and (min-width: 1025px) {
 

      /* =================[  LANDING PAGE  ]==================== */

      .landing_page{
        display: inline-flex;
        background-color: #ffffff; 
        width: 100%;
        height: 100vh;
      }
      .landing_page .linked_acc{
        display: block;
        width: 8%;
        height: 40vh;
        /* background-color: #7621ff; */
        margin-top: 30vh;
        margin-left: 10%;
      }
      .landing_page .linked_acc ul li{
        /* background-color: #21ff76;  */
        font-size: 2rem;
        margin-top: 3vh;
        text-align: center;
        list-style: none;
        transition: transform .3s ease;
      }
      .landing_page .linked_acc ul li:hover{
        transform:scale(1.3);
        box-shadow: 3px 2px 5px rgb(214, 214, 214);
        border-radius: 5px;
      }
      .landing_page .linked_acc ul li a i{
        color: #525252;
      }
      .landing_page .linked_acc ul li a i:hover{
        color:#7621ff;
      }
      .landing_page .bottom-box {
        width: 100%;
        height: 70vh;
        /* background-color: rgb(255, 251, 0); */
        margin-top: 17vh;
        border-radius: 0;
        /* margin-left: 2%;  */
        box-shadow: none;
      }
      .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      @keyframes wave-animation {
          0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
      }
      .landing_page .bottom-box h2 {
        margin-left: 8%;
        padding-top: 5vh;
        font-weight: 600;
        font-size: 3rem;
      }
      .landing_page .bottom-box h2 .name-style {
        font-weight: 600;
      }
      .landing_page .bottom-box h4 {
        margin-left: 8%;
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 0px;
      }
      .landing_page .bottom-box h6 {
        margin-top: 1vh;
        margin-left: 8%;
        margin-right: 15%;
        text-align: justify;
        font-weight: 400;
        
      }
      #c-button {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        color: white;
        border-radius: 15px;
        box-shadow: 2px 2px 5px #c5c5c5;
        transition: transform .3s;
      }
      .cont-button {
        width: 200px;
        height: 70px;
        margin-top: 5vh;
        margin-left: 8%;
        text-align: center;
        font-weight: 400;
        /* background-color: #fff; */
      }
      #c-button:hover{
        transform: scale(1.2);
        box-shadow: 3px 2px 5px rgb(214, 214, 214);
      }
      .photo{
        display: none;  /* temporarily none */
      }
      .desktop-img {
        display: block;
        width: 70%;
        height: 58vh;
        margin-right: 5%;
        /* background-color: #d8d8d8;  */
        margin-top: 20vh;
      }
      .desktop-img img {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
      }
      .side-bar{
        display: none;
      }
      .logo{
        position: fixed;
      }

      /* =================[  WHAT I DO PAGE  ]==================== */

      .desktop-GIF{
        display: block;
        width: 56%;
        height: 100vh;
        margin-left: 2%;
         /* background-color: #4221fd;   */
        overflow: hidden;
      }
      .desktop-GIF .desktop-work-gif{
        width: 70%;
        /* margin-left: 80%; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 550px;
        padding-top: 20vh;
        
  
      }
      .box1{
        display: inline-flex;
        /* background-color: #525252; */
      }
      .Box1-side-content{
        max-width: 40%;
        /* background-color: yellowgreen; */
      } 
      .box1 .Box1-side-content h1 {
        display: block;
        font-weight: 600;
        width: 100%;
        margin-top: 15%;
        font-size: 2.5rem;
        /* background-color: #005ac0; */

        /* display: none; */
        
      }
      .about-me {
        width: 35vw;
        height: 13%;
        /* background-color: #ffffff; */
        margin-top: 5%;
        text-align: center;

        /* display: none; */

      }
      .about-me p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-align: justify;
        padding-left: 50px;
        padding-right: 50px;
        color: #838282;

        /* display: none; */

      }
      .tech1 {
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;

        /* display: none; */

      }
      #img1,#img2,#img3,#img4 {
        text-align: center;
        width: 25%;
      }
      .tech2 {
        width: 40%;
        margin-top: 20px;
        margin-left: 30%;
        display: flex;
        flex-wrap: wrap;

        /* display: none; */

      }
      #img5,#img6 {
        text-align: center;
        width: 50%;
      }
      #img1 p, #img2 p, #img3 p, #img4 p, #img5 p, #img6 p {
        font-size: 0.7rem;
        font-family: "Poppins", sans-serif;
        text-align: center;
        color: #838282;
      }
      .GIF {
      
        display: none;
      }

      /* =================[  EDUCATION  ]==================== */

      .box2{
        /* background-color: #3f3f3f;  */
         display: flex;
      }
      .edu-detail{
        width: 40vw;
        margin-left: 5%;
      }
      .edu-detail h1{
        /* background-color: #00ccff; */
        font-size: 2.5rem;
        font-weight: 600;
        padding-top: 15%;
      }
      .edu1, .edu2 {
        width: 80%;
        height: 30vh;
        background-color: rgb(224, 212, 255);
        /* box-shadow: 6px 6px 8px rgba(168, 167, 167, 0.527); */
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
      }
      .edu2 .ed-logo {
        display: block;
        width: 80%;
        height: 50%;
        /* background-color: #4221fd; */
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
      }
      .edu-GIF{
        display: block;
        width: 50%;
        height: 100vh;
        /* margin-left: 5%; */
        /* background-color: #4221fd; */
        overflow: hidden;
      }
      .edu-GIF .edu-work-gif{
        width: 70%;
        /* margin-left: 80%; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 620px;
        padding-top: 15vh;
        margin-top: 5%;
        
  
      }


      /* =================[  PROJECTS  ]==================== */

      
      .box3 {
        margin-bottom: 5%;
      }
      .box3 h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        text-align: center;
        padding-top: 10%;
        color: #7621ff;
        /* text-shadow: 3px 2px 5px #d1d1d1; */
      }
      .box3 .project-boxes{
        display: flex;
        background-color: rgb(199, 199, 199);
      }
      .box3 .project-1 {
        width: 80vw;
        height: 65vh;
        background-color: rgb(39, 44, 49);
        margin-left: 10%;
        margin-top: 10%;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.767);
        padding-top: 2%;
        
      }
      .Project-Logo {
        display: block;
        width: 80%;
        height: 40%;
        /* background-color: #4221fd; */
        margin-left: auto;
        margin-right: auto;
      }
      .Project-Logo img {
        width: auto;
        height: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      .box3 .project-1 h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-align: center;
        padding-top: 2%;
        color: #7621ff;
      }
      .box3 .project-1 p {
        color: #838282;
        text-align: justify;
        margin-top: 2.5%;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        margin-left: 6%;
        margin-right: 6%;
      }
      .box3 .project-1 .links ul {
        display: inline-flex;
        text-align: center;
        margin-top: 5%;
        margin-left: 4%;
      }
      .box3 .project-1 ul li {
        list-style: none;
        margin-left: 10px;
      }
      .box3 .project-1 ul li a i {
        color: #8b8b8b;
        font-size: 2rem;
      }
      .box3 .project-1 ul li a i:hover {
        color: #8138f7;
      }
      

      /* =================[  CONTACT PAGE  ]==================== */
     
      .box4 .cont-img{
        display: block;
        width: 50%;
        height: 58%;
        margin-left: 5%;
         /* background-color: #4221fd; */
        /* margin-top: 5vh; */
      }
      .box4 .cont-img img{
        width: auto;
        margin-left: 10%;
        display: block;
        margin-left: auto;
        margin-top: -15%;
        margin-right: auto;
        max-height: 100%;
      }

}



